@import "variables.less";
@import "header.less";
@import "fonts.less";
@import "animations.less";
@import "content.less";

body{
    background-color: @site-bg-color;
    font-family: @font-default;
    margin: auto;
    padding: auto;
}

a,
.link{
    color: @link-color;
    font-family: @font-link;
}
a:hover{
    color: darken(@link-color, 5%);
}
h1{
    font-family: Unica;
    font-size: 28px;
    color: @brand-primary;
    display: inline-block;
    text-transform: uppercase;
}