@brand-primary:                       #db8806;

@site-background-color:               rgb(230, 230, 230);
@header-background-color:             #333;
@navigation-background-color:         lighten(#333, 1%);
@menu-background-color:                 @brand-primary;
@text-color:                          #000;
@link-color:                          @brand-primary;
@font-default:                        'Roboto';
@font-link:                           'Unica';
